<div class="modal-header">
    <h4 class="modal-title">{{ serviceToEdit ? 'Edit Service' : 'Add Service' }} Contract</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="saveService()" #ServiceForm="ngForm">
        <!-- Service Name -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="serviceContractName">Service Contract Name:</label>
                <input type="text" class="form-control" id="serviceContractName" name="serviceContractName"
                    [(ngModel)]="newservice.serviceContractName" required>
            </div>
            <div class="form-group col-md-6">
                <label for="servicetype">Service Type:</label>
                <select class="form-control" id="servicetype" name="servicetype" [(ngModel)]="newservice.serviceContractTypeID"
                    required>
                    <option *ngFor="let type of Types" [value]=type.id>{{ type.name }}</option>
                </select>
            </div>
        </div>

        <!-- Frequency -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="FlatRate">Contract Price:</label>
                <input type="number" class="form-control" id="FlatRate" name="FlatRate"
                    [(ngModel)]="newservice.contractPrice" required>
            </div>

            <!-- Service Type -->

            <div class="form-group col-md-6">
                <label for="servicetype">Contract Frequency:</label>
                <select class="form-control" id="frequency" name="frequency" [(ngModel)]="newservice.frequency"
                    required>
                    <option *ngFor="let type of frequencies" [value]=type.id>{{ type.name }}</option>
                </select>
            </div>

            <!-- Is Active -->
          

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Is Prorated?:</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="activeYes" name="isProrated"
                        [(ngModel)]="newservice.isProrated" [value]="true">
                    <label class="form-check-label" for="activeYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="activeNo" name="isProrated"
                        [(ngModel)]="newservice.isProrated" [value]="false">
                    <label class="form-check-label" for="activeNo">No</label>
                </div>
            </div>
          
            <div class="form-group col-md-6">
                <label>Is Refundable:</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="activeYes" name="isRefundable"
                        [(ngModel)]="newservice.isRefundable" [value]="true">
                    <label class="form-check-label" for="activeYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="activeNo" name="isRefundable"
                        [(ngModel)]="newservice.isRefundable" [value]="false">
                    <label class="form-check-label" for="activeNo">No</label>
                </div>
            </div>
        </div>
        <h5>Contract Period By</h5> 
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="contractPeriodByDays">Days:</label>
                <input type="number" class="form-control" id="contractPeriodByDays" name="contractPeriodByDays"
                    [(ngModel)]="newservice.contractPeriodByDays" required>
            </div>
            <div class="form-group col-md-4">
                <label for="contractPeriodByMonths">Months:</label>
                <input type="number" class="form-control" id="contractPeriodByMonths" name="contractPeriodByMonths"
                    [(ngModel)]="newservice.contractPeriodByMonths" required>
            </div>
            <div class="form-group col-md-4">
                <label for="contractPeriodByYears">Years:</label>
                <input type="number" class="form-control" id="contractPeriodByYears" name="contractPeriodByYears"
                    [(ngModel)]="newservice.contractPeriodByYears" required>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">{{ serviceToEdit ? 'Update' : 'Add' }} Service Contract</button>
    </form>

</div>