<div *ngIf="loading; else content">
  Loading...
</div>

<ng-template #content>

            <form class="add-new-user modal-content pt-0" *ngIf="isAdmin; else elseTemplate" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
                <div class="modal-body flex-grow-1">

                <div class="form-group">
                    <label class="form-label" for="basic-icon-default-uname">Username <span style="color:red;">*</span></label>
                    <input
                    type="text"
                    id="basic-icon-default-uname"
                    class="form-control dt-uname"
                    placeholder="Username"
                    aria-label="jdoe1"
                    aria-describedby="basic-icon-default-uname2"
                    name="user-name"
                    [(ngModel)]="user.userName"
                    [class.error]="newUserForm.submitted && FUserNameRef.invalid"
                    #FUserNameRef="ngModel"
                    required/>
                    <span *ngIf="newUserForm.submitted && FUserNameRef.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="FUserNameRef.errors.required">This field is required!</small>
                    </span>
                </div>

                <div class="form-group">
                    <label class="form-label" for="basic-icon-default-email">Email <span style="color:red;">*</span></label>
                    <input
                    type="text"
                    id="basic-icon-default-email"
                    class="form-control dt-email"
                    placeholder="john.doe@example.com"
                    aria-label="john.doe@example.com"
                    aria-describedby="basic-icon-default-email2"
                    name="user-email"
                    [(ngModel)]="user.emailAddress"
                    [class.error]="newUserForm.submitted && FEmailRef.invalid"
                    #FEmailRef="ngModel"
                    required
                    />
                    <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">This field is required!</small>
                    </span>
                </div>

                <div class="form-group">
                    <label class="form-label" for="user-role">User Role <span class="text-danger">*</span></label>
                    <ng-select [items]="roles" [closeOnSelect]="false" [searchable]="true" bindLabel="name" name="selectLanguage" placeholder="Select Role" [(ngModel)]="selectMultiSelected">
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.displayName }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>
                    </ng-select>
                    <!-- <select id="user-role" name="user-role" [(ngModel)]="user.roleNames" class="form-control">
                        <option value="{{role.Name}}" *ngFor="let role of roles">{{role.displayName}}</option>
                    </select> -->
                </div>

                <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>Submit</button>
                <button type="reset" class="btn btn-outline-secondary" (click)="close()" rippleEffect>Cancel</button>

                </div>
            </form>



  <ng-template #elseTemplate>
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h4>You need to Upgrade your Package, if you want to Invite Team Member.</h4>
        <h4>or</h4>
        <h4>If you want Add Team Member, It will be charged as ${{currentPackage.addTeamMemberPrice}}/User/Month.</h4>
        <button type="button" class="btn btn-primary m-1" (click)="upgradePackageModal(packageForm)" rippleEffect>Upgrade Package</button>
        <button type="button" class="btn btn-primary m-1" (click)="upgradePackageModal(AdditionalUser)" rippleEffect>Add User</button>
      </div>
    </div>
  </ng-template>
</ng-template>


<ng-template #packageForm let-modal>
  <div class="modal-header">
      <h5 class="modal-title">Upgrade Your Package</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="content-wrapper m-2">
      <div class="content-body">
          <form [formGroup]="packageForm">
              <div class="col-md-12">
                  <div class="row pricing-card">
                      <div class="col-12 col-md-4" *ngFor="let row of rows">
                          <div class="card basic-pricing popular text-center">
                              <ng-container *ngIf="row.id == tenant.package">
                                  <div class="plan-price">
                                      <span class="pricing-basic-value font-weight-bolder text-primary">Current Package</span>
                                  </div>
                              </ng-container>
                              <div class="card-body" [ngClass]="{ 'selected': row.isSelected }" (click)="selectCard(row)">
                                  <h1 class="mb-1">{{row.packageName}}</h1>

                                  <h6 class="mb-2">Business texting inbox accessible on all devices.</h6>

                                  <div class="annual-plan mb-2">
                                      <div class="plan-price">
                                          <sup class="font-medium-1 font-weight-bold text-primary">$ </sup>
                                          <span class="pricing-basic-value font-weight-bolder text-primary">{{row.packagePrice}}</span>
                                          <sub class="pricing-duration text-body font-medium-1 font-weight-bold">/{{row.validity ? 'Month' : 'Year' }}</sub>
                                      </div>
                                  </div>

                                  <h6 class="mb-0 font-weight-bolder">
                                      {{row.teamMembers}} User Seat Included
                                      <div>
                                          <small>
                                              Additional User will be Charged as ${{row.addTeamMemberPrice}}/Member/{{row.validity ? 'Month' : 'Year' }}
                                          </small>
                                      </div>
                                  </h6>

                                  <h6 class="mt-1 font-weight-bolder">
                                      {{row.smsCredits}} Free SMS Credits a Month
                                      <div>
                                          <small>Additional Credits will be Charged as ${{row.addCreditPrice}}/SMS</small>
                                      </div>
                                  </h6>

                                  <hr>
                                  <ul class="list-group list-group-circle text-left">
                                      <li class="list-group-item pb-sm-0">
                                          {{row.teamMembers}} Team Member
                                      </li>

                                      <li class="list-group-item pb-sm-0">
                                          Personal Inbox: {{row.personalInbox ? 'Yes' : 'No'}}
                                      </li>

                                      <li class="list-group-item pb-sm-0">
                                          {{row.teamInbox ? 'Basic' : 'Advanced' }} Team Inbox
                                      </li>
                                      <li class="list-group-item pb-sm-0">
                                          {{row.contacts}} Contacts
                                      </li>
                                      <li class="list-group-item pb-sm-0">
                                          Team Delegation For Contacts:
                                          <ng-container *ngIf="row.teamDelegationForContacts">
                                              <ng-container *ngIf="row.teamMembers == 1; else noMinUsers">
                                                  Yes (2 User min)
                                              </ng-container>
                                              <ng-template #noMinUsers>
                                                  Yes
                                              </ng-template>
                                          </ng-container>
                                          <ng-container *ngIf="!row.teamDelegationForContacts">
                                              No
                                          </ng-container>
                                      </li>
                                      <li class="list-group-item pb-sm-0">
                                          {{row.smsSender}} SMS Sender (Mobile Number)
                                          <ng-container *ngIf="row.addNumberPrice == 0; else addSenderPrice">

                                          </ng-container>
                                          <ng-template #addSenderPrice>
                                              <small>Additional Sender will be Charged as ${{row.addNumberPrice}}/Sender/{{row.validity ? 'Month' : 'Year' }}</small>
                                          </ng-template>
                                      </li>
                                      <li class="list-group-item pb-sm-0">
                                          SMS Sender Delegation To Member: {{row.smsSenderDelegationToMember ? 'Yes' : 'No'}}
                                      </li>
                                      <li class="list-group-item pb-sm-0">
                                          {{row.templates}} SMS Templates
                                      </li>
                                      <li class="list-group-item pb-sm-0">
                                          Broadcast to {{row.broadcasts}} Contacts
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="d-flex justify-content-center">
                  <button (click)="priceModal(PriceForm)"
                          type="submit"
                          class="btn btn-primary btn-next"
                          rippleEffect
                          [disabled]="!isPlanSelected">
                      <span class="align-middle d-sm-inline-block d-none">Upgrade</span>
                      <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
              </div>
          </form>

      </div>
  </div>
</ng-template>


<ng-template #PriceForm let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Proceed with Payment</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="content2 m-2">
        <div class="heading">
            <div class="choose-the-purpose">Billing Information</div>
            <div class="what-will-you-be-using-this-tool-for">
                Provide Billing Information?
            </div>
        </div>

        <div class="options">
            <div class="mb-1" data-kt-buttons="true" data-kt-initialized="1">
                <div class="row">
                    <div class="col-sm col-xs-6 billing">
                        <input type="radio" class="btn-check" formControlName="OnPaymentMethode" value="mastercard" id="mastercard" style="display:none;">
                        <label for="mastercard" class="btn labelcheck" style="border: 0.5px dashed;width:100%" onmouseover="this.style.background='darkslateblue';this.style.color='white'" onmouseout="this.style.background='white';this.style.color='#7f7f7f'">
                            <span class="fw-bold fs-3"><img alt="Mastercard_Logo" height="24px" src="assets/images/logo/Mastercard_Logo.png"></span>
                        </label>
                    </div>
                    <div class="col-sm col-xs-6 billing">
                        <input type="radio" class="btn-check" formControlName="OnPaymentMethode" value="visa" id="visa" style="display:none;">
                        <label for="visa" class="btn labelcheck" style="border: 0.5px dashed;width:100%" onmouseover="this.style.background='darkslateblue';this.style.color='white'" onmouseout="this.style.background='white';this.style.color='#7f7f7f'">
                            <span class="fw-bold fs-3">
                                <img alt="Visa-Logo" height="24px" src="assets/images/logo/Visa-Logo.png">
                            </span>
                        </label>
                    </div>
                    <div class="col-sm col-xs-6 billing">
                        <input type="radio" class="btn-check" formControlName="OnPaymentMethode" value="discover" id="discover" style="display:none;">
                        <label for="discover" class="btn labelcheck" style="border: 0.5px dashed;width:100%" onmouseover="this.style.background='darkslateblue';this.style.color='white'" onmouseout="this.style.background='white';this.style.color='#7f7f7f'">
                            <span class="fw-bold fs-3">
                                <img alt="Discover-logo" height="24px" src="assets/images/logo/Discover-logo.png">
                            </span>
                        </label>
                    </div>
                    <div class="col-sm col-xs-6 billing">
                        <input type="radio" class="btn-check" formControlName="OnPaymentMethode" value="amex" id="amex" style="display:none;">
                        <label for="amex" class="btn labelcheck" style="border: 0.5px dashed;width:100%" onmouseover="this.style.background='darkslateblue';this.style.color='white'" onmouseout="this.style.background='white';this.style.color='#7f7f7f'">
                            <span class="fw-bold fs-3">
                                <img alt="Group" height="24px" src="assets/images/logo/Group 1.svg">
                            </span>
                        </label>
                    </div>
                    <div class="col-sm col-xs-6 billing">
                        <input type="radio" class="btn-check" formControlName="OnPaymentMethode" value="dinersclub" id="dinersclub" style="display:none;">
                        <label for="dinersclub" class="btn labelcheck" style="border: 0.5px dashed;width:100%" onmouseover="this.style.background='darkslateblue';this.style.color='white'" onmouseout="this.style.background='white';this.style.color='#7f7f7f'">
                            <span class="fw-bold fs-3">
                                <img alt="Diners_Club_Logo" height="24px" src="assets/images/logo/Diners_Club_Logo.png">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row mb-50">
                                <div class="col-sm-12">
                                    <label class="mb-50" for="card-holder-name">
                                        <strong>Name:</strong>
                                        <span style="color:red"> *</span>
                                    </label>
                                    <input
                                    type="text"
                                    id="card-holder-name"
                                    class="form-control"
                                    placeholder="Name on Card"
                                    name="nameOnCard"
                                    [(ngModel)]="cardNameValue"
                                    required />
                                    <label *ngIf="NameonCardErrorMessage" class="error-message">{{NameonCardErrorMessage}}</label>
                                </div>
                            </div>
                            <div class="form-group row mb-50">
                                <div class="col-sm-12">
                                    <label class="mb-50" for="card-number">
                                        <strong>Card Number:</strong>
                                        <span style="color:red"> *</span>
                                    </label>
                                    <input
                                    type="text"
                                    id="cardnumber"
                                    class="form-control"
                                    placeholder="Card Number"
                                    name="cardnumber"
                                    [(ngModel)]="cardNumberValue"
                                    (input)="checkMaxLength($event.target.value)"
                                    required />
                                    <span *ngIf="CardNumberErrorMessage" class="invalid-form">
                                        <small class="form-text text-danger">{{CardNumberErrorMessage}}</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-50">
                                <div class="col-sm-6">
                                    <label class="mb-50" for="card-holder-cvv">
                                        <strong>EXP Date:</strong>
                                        <span style="color:red"> *</span>
                                    </label>
                                    <input
                                    type="text"
                                    id="cardexpiry"
                                    class="form-control"
                                    placeholder="MM/YY"
                                    name="cardexpiry"
                                    [(ngModel)]="cardExpValue"
                                    (input)="validateCardExpiry($event.target.value)"
                                    required/>
                                    <span *ngIf="cardexpiryMessage" class="invalid-form">
                                        <small class="form-text text-danger">{{cardexpiryMessage}}</small>
                                    </span>
                                </div>

                                <div class="col-sm-6">
                                    <label class="mb-50" for="card-holder-cvv">
                                        <strong>CVV:</strong>
                                        <span style="color:red"> *</span>
                                    </label>
                                    <input
                                    type="text"
                                    id="cardcvv"
                                    class="form-control"
                                    placeholder="Enter CVV"
                                    name="cardcvv"
                                    [(ngModel)]="cardCvvValue"
                                    (input)="validateCVV($event.target.value)"
                                    required />
                                    <span *ngIf="cardcvvMessage" class="invalid-form">
                                        <small class="form-text text-danger">{{cardcvvMessage}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="selectedRow">
                    <div class="payment-type">
                        <div class="amount-payable checkout-options">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="card-title">Payment Summary</h2>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled price-details">
                                        <li class="price-detail">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label >
                                                        <h2>Details</h2>
                                                    </label>
                                                </div>
                                                 <div class="col-3 text-center">
                                                    <label>
                                                        <h2>Unit Price</h2>
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <label style="float:right">
                                                        <h2>Amount</h2>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr class="mt-0">
                                        <li class="price-detail">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label >
                                                        <strong>{{selectedRow.packageName}} Package</strong>
                                                    </label>
                                                </div>
                                                 <div class="col-3 text-center" >
                                                    <label>
                                                        <strong>${{selectedRow.packagePrice}}</strong>
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <label style="float:right">
                                                        <strong>${{selectedRow.packagePrice}}</strong>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="price-detail">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label >
                                                        <strong>Additional Messages</strong>
                                                    </label>
                                                </div>
                                                 <div class="col-3 text-center" >
                                                    <label>
                                                        <strong>0 X $0.03</strong>
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <label style="float:right">
                                                        <strong>$0</strong>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="price-detail">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label >
                                                        <strong>Additional Users</strong>
                                                    </label>
                                                </div>
                                                 <div class="col-3 text-center" >
                                                    <label>
                                                        <strong>0 X $10</strong>
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <label style="float:right">
                                                        <strong>$0</strong>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="price-detail">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label >
                                                        <strong>Previous Package Credit</strong>
                                                    </label>
                                                </div>
                                                 <div class="col-3 text-center" >
                                                    <label>
                                                        <strong>0</strong>
                                                    </label>
                                                </div>
                                                <div class="col-3">
                                                    <label style="float:right">
                                                        <strong>$10</strong>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr />
                                    <ul class="list-unstyled price-details">
                                        <li class="price-detail">
                                            <label><strong>Total</strong></label>
                                            <label style="float:right">
                                                <strong>${{selectedRow.packagePrice}}</strong>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button (click)="ValidatePaymentMethod()"
                    type="button"
                    class="btn btn-primary btn-next"
                    rippleEffect>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span class="align-middle d-sm-inline-block d-none">Proceed with Payment</span>
                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
            </button>
        </div>

    </div>
</ng-template>



<ng-template #AdditionalUser let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Invite Team Member</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="content-wrapper m-2">
        <div class="content-body">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
            <div class="modal-body flex-grow-1">

                <div class="form-group">
                <label class="form-label" for="basic-icon-default-uname">Username <span style="color:red;">*</span></label>
                <input
                type="text"
                    id="basic-icon-default-uname"
                    class="form-control dt-uname"
                    placeholder="Username"
                    aria-label="jdoe1"
                    aria-describedby="basic-icon-default-uname2"
                    name="user-name"
                    [(ngModel)]="user.userName"
                    [class.error]="newUserForm.submitted && FUserNameRef.invalid"
                    #FUserNameRef="ngModel"
                    required/>
                <span *ngIf="newUserForm.submitted && FUserNameRef.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="FUserNameRef.errors.required">This field is required!</small>
                </span>
                </div>

                <div class="form-group">
                <label class="form-label" for="basic-icon-default-email">Email <span style="color:red;">*</span></label>
                <input
                    type="text"
                    id="basic-icon-default-email"
                    class="form-control dt-email"
                    placeholder="john.doe@example.com"
                    aria-label="john.doe@example.com"
                    aria-describedby="basic-icon-default-email2"
                    name="user-email"
                    [(ngModel)]="user.emailAddress"
                    [class.error]="newUserForm.submitted && FEmailRef.invalid"
                    #FEmailRef="ngModel"
                    required
                />
                <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">This field is required!</small>
                </span>
                </div>

                <div class="form-group">
                <label class="form-label" for="user-role">User Role <span class="text-danger">*</span></label>
                <ng-select [items]="roles" [closeOnSelect]="false" [searchable]="true" bindLabel="name" name="selectLanguage" placeholder="Select Role" [(ngModel)]="selectMultiSelected">
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label"> {{ item.displayName }}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>
                </ng-select>
                </div>

                <div class="text-center">
                <button type="submit" class="btn btn-primary text-center" (click)="submit(newUserForm)" rippleEffect>Submit</button>
                <!-- <button type="reset" class="btn btn-outline-secondary" (click)="close()" rippleEffect>Cancel</button> -->
            </div>
            </div>
            </form>
        </div>
    </div>
  </ng-template>