<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">

        <!-- Left Text-->

        <img class="d-none d-lg-flex col-lg-7 align-items-center" src="assets/images/pages/login-v2-dark1.svg" alt="Login V2" />


        <!--<div class="d-none d-lg-flex col-lg-7 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                <img class="" [src]="coreConfig.layout.skin === 'dark' ? 'assets/images/pages/login-v2-dark1.png'
              : 'assets/images/pages/login-v2-dark1.png'" alt="Register V2" />
            </div>
        </div>-->


        <a class="nemt-logo" href="javascript:void(0);">
            <img alt="brand-logo" style="width: 250px;height: 150px;" src="assets/images/logo/logo.png">
             </a
           >
        <!-- /Left Text-->
        <!-- Register-->
        <div class="d-flex col-lg-5 align-items-center auth-bg px-2 p-lg-5">

            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">

                <h2 class="card-title font-weight-bold mb-1">Welcome to EZ Job Manager</h2>
                <form class="auth-register-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="register-email" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email"
                               formControlName="email"
                               class="form-control"
                               placeholder="john@example.com"
                               aria-describedby="register-email"
                               tabindex="2"
                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                               
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <!-- <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
                        </div>
                        <div class="invalid-feedback" *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched">
                            <div *ngIf="registerForm.controls.email.errors">Invalid email format</div>
                          </div>
                    </div>
                    <button class="btn btn-primary btn-block" tabindex="5" rippleEffect> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Next</button>
                </form>
                <p class="text-center mt-2">
                    <span>Already have an account?</span><a routerLink="/pages/authentication/login-v2"><span>&nbsp;Sign in instead</span></a>
                </p>

            </div>
        </div>
        <!-- /Register-->
    </div>
</div>
