@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
@import '@core/scss/angular/libs/sweet-alerts.component.scss';

.nemt-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin: 0;
  }
  @media only screen and (max-width: 600px) {
  
  .nemt-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2rem;
    left: 7rem;
    right: 7rem;
    margin: 0;
  }
  .margin-custom
  {
    margin-top: 100px;
  }
  }