<li ngbDropdown class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown">
    <i class="ficon" data-feather="bell"></i>
    <span class="badge badge-pill badge-danger badge-up">
      {{notifications.length}}
    </span>
  </a>

  <ul ngbDropdownMenu aria-labelledby="navbarNotificationDropdown" class="dropdown-menu dropdown-menu-media dropdown-menu-right">
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Notifications</h4>
        <div class="badge badge-pill badge-light-primary">
          {{ notifications.length}} New
        </div>
      </div>
    </li>

    <li class="scrollable-container media-list" [perfectScrollbar]>
      <a class="d-flex" href="javascript:void(0)" *ngFor="let notificationObj of notifications">
        <div class="media d-flex align-items-start">
          <div class="media-left">
            <div class="avatar">
              <!-- <img [src]="message.image" alt="avatar" width="32" height="32" /> -->
            </div>
          </div>
          <div class="media-body">
            <p class="media-heading" [innerHTML]="notificationObj.title"></p>
            <small class="notification-text">{{ notificationObj.Detail }}</small>
          </div>
          <a href="javascript:void(0)" (click)="markAsRead(notificationObj)">
            <i class="ficon" data-feather="bookmark"></i>
          </a>
        </div>
      </a>     
    </li>

    <li class="dropdown-menu-footer">
      <a class="btn btn-primary btn-block" (click)="markAllAsRead()">Mark All As Read</a>
    </li>
  </ul>
</li>
